[Checking List]
- 원본 공동참조 단어(text)과 증강한 공동참조(update_text)을 비교해서 제대로 증강했는지 확인
- 원본 문장(extracted_sentence)과 증강한 문장(updated_sentence)을 비교해서 제대로 증강했는지 확인
- 증강한 단어(update_text)가 증강한 문장(update_sentence)에 포함되어 있는지 확인
- 증강한 단어(update_text)가 증강한 문장 인덱스(update_coref)와 일치하는지 확인

[Labeling Criterion]
- Best(0) : 문맥에 맞게 형용사 잘 증강한 경우
- Worst(1) : 의미는 맞지만 풀어서 문맥 증강한 경우, 기존 단어 사라짐
- Weird(2) : offset안맞음, 대명사 앞에 형용사 증강, James Handsome Bond 처럼 명사 중간에 증강

In [18]:
import pandas as pd
import os
import ast
import warnings
warnings.filterwarnings("ignore")

def extract_number(filename):
    return int(filename.split('_')[-1].split('.')[0])

check_folder_path = '../data/NewLitBank_v2/'
save_folder_path = '../data/NewLitBank_Final_가연/'

In [19]:
RAW_CASE_INDEX = 0

litbank_file_list = sorted(os.listdir(check_folder_path), key=extract_number)
df_case = pd.read_csv(check_folder_path + '/' + litbank_file_list[RAW_CASE_INDEX])
df_case.drop(columns='Unnamed: 0', inplace=True)
df_case['cases'] = ''
print('전체 개수 : ', len(df_case))
print('결측치 개수 : ', df_case.isnull().any(axis=1).sum())

전체 개수 :  22
결측치 개수 :  15

In [20]:
df_case = df_case.dropna() # nan 값 제거
df_case['coref'] = [ast.literal_eval(data) for data in df_case['coref']]
df_case['extracted_sentence'] = [ast.literal_eval(data) for data in df_case['extracted_sentence']]
df_case['adjusted_offsets'] = [ast.literal_eval(data) for data in df_case['adjusted_offsets']]
df_case['text'] = [ast.literal_eval(data) for data in df_case['text']]
df_case['inference_offsets'] = [ast.literal_eval(data) for data in df_case['inference_offsets']]
df_case['update_text'] = [ast.literal_eval(data) for data in df_case['update_text']]
df_case['update_sentence'] = [ast.literal_eval(data) for data in df_case['update_sentence']]
df_case['update_coref'] = [ast.literal_eval(data) for data in df_case['update_coref']]
df_case

,coref,extracted_sentence,adjusted_offsets,text,inference_offsets,labels,update_text,update_sentence,update_coref,cases
15,"[[450, 454], [18, 19], [22, 23], [247, 250], [...","[To, accommodate, the, regiments, of, miners, ...","[[35, 39], [64, 65], [68, 69], [90, 93], [116,...","[[the, site, of, Hell, Row], [Hell, Row], [Hel...","[[[7, 11], [41, 41]], [[43, 44], [58, 59]], [[...",0,"[[the, site, of, Hell, Row], [notorious, Hell,...","[To, accommodate, the, regiments, of, miners, ...","[[35, 39], [64, 66], [69, 71], [92, 95], [118,...",
16,"[[43, 53], [605, 606], [144, 145]]","[There, lived, the, colliers, who, worked, in,...","[[2, 12], [30, 31], [39, 40]]","[[the, colliers, who, worked, in, the, little,...",[],0,"[[the, colliers, who, worked, in, the, little,...","[There, lived, the, colliers, who, worked, in,...","[[2, 12], [30, 32], [40, 42]]",
17,"[[209, 209], [393, 393]]","[The, coal, and, iron, field, of, Nottinghamsh...","[[8, 8], [92, 92]]","[[Derbyshire], [Derbyshire]]","[[[50, 50], [59, 59]], [[67, 69], [73, 73]], [...",0,"[[Derbyshire], [picturesque, Derbyshire]]","[The, coal, and, iron, field, of, Nottinghamsh...","[[8, 8], [92, 93]]",
18,"[[345, 346], [234, 235]]","[From, Nuttall, ,, high, up, on, the, sandston...","[[32, 33], [116, 117]]","[[Spinney, Park], [Spinney, Park]]","[[[39, 39], [48, 48]], [[56, 58], [62, 62]]]",0,"[[Spinney, picturesque, Park], [Spinney, pictu...","[From, Nuttall, ,, high, up, on, the, sandston...","[[32, 34], [117, 119]]",
19,"[[382, 382], [296, 296]]","[From, Nuttall, ,, high, up, on, the, sandston...","[[69, 69], [125, 125]]","[[Selby], [Selby]]","[[[38, 38], [47, 47]], [[55, 57], [61, 61]], [...",0,"[[Selby], [the, nearby, Selby]]","[From, Nuttall, ,, high, up, on, the, sandston...","[[69, 69], [125, 127]]",
20,"[[314, 314], [298, 298]]","[From, Nuttall, ,, high, up, on, the, sandston...","[[1, 1], [127, 127]]","[[Nuttall], [Nuttall]]","[[[38, 38], [47, 47]], [[55, 57], [61, 61]], [...",0,"[[Nuttall], [Nuttall, new]]","[From, Nuttall, ,, high, up, on, the, sandston...","[[1, 1], [127, 128]]",
21,"[[1162, 1162], [1183, 1183]]","[“, They, 'll, be, beginnin, ', ,, ”, the, boy...","[[1, 1], [22, 22]]","[[They], [they]]",[],0,"[[They], [the, mother]]","[“, They, 'll, be, beginnin, ', ,, ”, the, boy...","[[1, 1], [22, 23]]",

In [21]:
CHECK_INDEX = 15

In [17]:
print('원본 문장 길이 : ', len(df_case['extracted_sentence'][CHECK_INDEX]))
print('증강된 문장 길이 : ',len(df_case['update_sentence'][CHECK_INDEX]))
print('원본 공동참조 단어 : ', df_case['text'][CHECK_INDEX])
print('원본 공동참조 인덱스 : ', df_case['adjusted_offsets'][CHECK_INDEX])
print('증강된 공동참조 단어 : ',df_case['update_text'][CHECK_INDEX])
print('증강된 공동참조 인덱스 : ',df_case['update_coref'][CHECK_INDEX])
print('원본 공동참조 문장 : ', df_case['extracted_sentence'][CHECK_INDEX])
print('증강된 공동참조 문장 : ',df_case['update_sentence'][CHECK_INDEX])

원본 문장 길이 :  130
증강된 문장 길이 :  132
원본 공동참조 단어 :  [['the', 'site', 'of', 'Hell', 'Row'], ['Hell', 'Row'], ['Hell', 'Row'], ['the', 'notorious', 'Hell', 'Row'], ['There']]
원본 공동참조 인덱스 :  [[35, 39], [64, 65], [68, 69], [90, 93], [116, 116]]
증강된 공동참조 단어 :  [['the', 'site', 'of', 'Hell', 'Row'], ['notorious', 'Hell', 'Row'], ['notorious', 'Hell', 'Row'], ['the', 'notorious', 'Hell', 'Row'], ['There']]
증강된 공동참조 인덱스 :  [[35, 39], [64, 66], [69, 71], [92, 95], [118, 118]]
원본 공동참조 문장 :  ['To', 'accommodate', 'the', 'regiments', 'of', 'miners', ',', 'Carston', ',', 'Waite', 'and', 'Co.', 'built', 'the', 'Squares', ',', 'great', 'quadrangles', 'of', 'dwellings', 'on', 'the', 'hillside', 'of', 'Bestwood', ',', 'and', 'then', ',', 'in', 'the', 'brook', 'valley', ',', 'on', 'the', 'site', 'of', 'Hell', 'Row', ',', 'they', 'erected', 'the', 'Bottoms', '.', 'PART', 'ONE', 'CHAPTER', 'I', 'THE', 'EARLY', 'MARRIED', 'LIFE', 'OF', 'THE', 'MORELS', '“', 'THE', 'BOTTOMS', '”', 'succeeded', 'to', '“', 'Hell', 'Row', '”', '.', 'Hell', 'Row', 'was', 'a', 'block', 'of', 'thatched', ',', 'bulging', 'cottages', 'that', 'stood', 'by', 'the', 'brookside', 'on', 'Greenhill', 'Lane', '.', 'About', 'this', 'time', 'the', 'notorious', 'Hell', 'Row', ',', 'which', 'through', 'growing', 'old', 'had', 'acquired', 'an', 'evil', 'reputation', ',', 'was', 'burned', 'down', ',', 'and', 'much', 'dirt', 'was', 'cleansed', 'away', '.', 'There', 'lived', 'the', 'colliers', 'who', 'worked', 'in', 'the', 'little', 'gin-pits', 'two', 'fields', 'away', '.']
증강된 공동참조 문장 :  ['To', 'accommodate', 'the', 'regiments', 'of', 'miners', ',', 'Carston', ',', 'Waite', 'and', 'Co.', 'built', 'the', 'Squares', ',', 'great', 'quadrangles', 'of', 'dwellings', 'on', 'the', 'hillside', 'of', 'Bestwood', ',', 'and', 'then', ',', 'in', 'the', 'brook', 'valley', ',', 'on', 'the', 'site', 'of', 'Hell', 'Row', ',', 'they', 'erected', 'the', 'Bottoms', '.', 'PART', 'ONE', 'CHAPTER', 'I', 'THE', 'EARLY', 'MARRIED', 'LIFE', 'OF', 'THE', 'MORELS', '“', 'THE', 'BOTTOMS', '”', 'succeeded', 'to', '“', 'notorious', 'Hell', 'Row', '”', '.', 'notorious', 'Hell', 'Row', 'was', 'a', 'block', 'of', 'thatched', ',', 'bulging', 'cottages', 'that', 'stood', 'by', 'the', 'brookside', 'on', 'Greenhill', 'Lane', '.', 'About', 'this', 'time', 'the', 'notorious', 'Hell', 'Row', ',', 'which', 'through', 'growing', 'old', 'had', 'acquired', 'an', 'evil', 'reputation', ',', 'was', 'burned', 'down', ',', 'and', 'much', 'dirt', 'was', 'cleansed', 'away', '.', 'There', 'lived', 'the', 'colliers', 'who', 'worked', 'in', 'the', 'little', 'gin-pits', 'two', 'fields', 'away', '.']

In [23]:
# best=0, worst=1, weird=2
df_case.iloc[0,9] = 2
df_case.iloc[1,9] = 0
df_case.iloc[2,9] = 0
df_case.iloc[3,9] = 0
df_case.iloc[4,9] = 0
df_case.iloc[5,9] = 0
df_case.iloc[6,9] = 0
# df_case.iloc[7,9] = 2
# df_case.iloc[8,9] = 2
# df_case.iloc[9,9] = 0
# df_case.iloc[10,9] = 2
# df_case.iloc[11,9] = 0
# df_case.iloc[12,9] = 1
# df_case.iloc[13,9] = 1
# df_case.iloc[14,9] = 1
# df_case.iloc[15,9] = 2
# df_case.iloc[16,9] = 2
# df_case.iloc[17,9] = 0
# df_case.iloc[18,9] = 0
# df_case.iloc[19,9] = 0
# df_case.iloc[20,9] = 2

print('Best 개수 : ', len(df_case[df_case['cases']==0]))
print('Worst 개수 : ', len(df_case[df_case['cases']==1]))
print('Weird 개수 : ', len(df_case[df_case['cases']==2]))

df_case.to_csv(save_folder_path + f'New_litbank_case_{RAW_CASE_INDEX}.csv', index=False)

Best 개수 :  6
Worst 개수 :  0
Weird 개수 :  1

In [24]:
df_case.head(1)

,coref,extracted_sentence,adjusted_offsets,text,inference_offsets,labels,update_text,update_sentence,update_coref,cases
15,"[[450, 454], [18, 19], [22, 23], [247, 250], [...","[To, accommodate, the, regiments, of, miners, ...","[[35, 39], [64, 65], [68, 69], [90, 93], [116,...","[[the, site, of, Hell, Row], [Hell, Row], [Hel...","[[[7, 11], [41, 41]], [[43, 44], [58, 59]], [[...",0,"[[the, site, of, Hell, Row], [notorious, Hell,...","[To, accommodate, the, regiments, of, miners, ...","[[35, 39], [64, 66], [69, 71], [92, 95], [118,...",2